import React from 'react'
import classes from './style/index.styl'


export interface {{{pascalCase componentName}}}Props {
}


export function {{{pascalCase componentName}}}(props: {{{pascalCase componentName}}}Props): React.ReactElement {
  return (
    <div className={ classes.container } >
    </div>
  )
}
